.navbar {
    display: flex;
    justify-content: right;
    background-color: #333;
  }
  
  a {
    color: white;
    text-decoration: none;
    padding: 8px;
    border-radius: 4px;
  }
  
  a:hover {
    background-color: #555;
  }
